* {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}
body{
    background-color: rgb(245, 238, 238);

}
h1 ,h2 ,h3 ,h4{
    margin: 10px 0;
}

/* utility classes */
.left{
    float: left;
}
.right{
    float: right;
}

header {
    margin-top: 0px;
    background-color: rgb(42, 42, 187);
}

nav {
    width: 100%;
    


}
nav ol {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    list-style-type: none;
   
    overflow: hidden;
   
}
header nav ol li {
  
   
  
    
    list-style: none;
    margin-left: 15px;
        justify-content: space-around;
        color: #fff;
}
header nav ol li :hover {
    background-color: #fff;
    color: blue;
}

header nav ol li a {
    padding: 9px;
  
    font-size: 30px;
        color: #fff;
        text-decoration: none;

    text-transform: uppercase;


}





main {
    margin: 0 100px;
}

section {
    width: 75%;
    /* height: 900px; */
    float: left;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 25px;

}
section *{
    padding-left: 11px;
}
section h1{
    padding-left: 15px;
    font-size: 37px;
}
section .image img{ 
    padding: 10px;
  width: 95%;
}
.row{
    margin-bottom: 20px ;
    display: flex;
}
ol , ul {
    padding-left: 30px;
    width: fit-content;


}
iframe , audio,video{
    width: 100%;
    overflow: hidden;

}



aside {
    width: 20%;
    /* height: 900px; */
    float: right;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 10px;

}
.fifty-fifty{
width: 49%;
}
