@font-face {
    font-family: droid-sans-bold;
    src: url(fonts/droid-sans.bold.ttf);
}

* {
    font-family: 'droid-sans-bold', sans-serif;
    font-weight: 600;
    line-height: 20px;
}

:root {
    --primary: #37C19C;
    --secondary: #E5EBED;
    --destructive: #EE8363;
    --text: #668B97;
    --white: #FEFEFE;
    --hover: 95%;
    --press: 70%;
    --disable: 45%;





}

/* //////////////////////    UTILITY CLASS STYLING STARTS /////////////////////////////////////// */
.bg-green {
    background-color: var(--primary);
}

.hover {
    border-bottom: 3px solid #93ADB5;



}

.press {
    opacity: var(--press);

}

.disabled {
    opacity: var(--disable);
    cursor: not-allowed;

}



/* //////////////////////    UTILITY CLASS STYLING ENDS /////////////////////////////////////// */


main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    font-size: 30px;
    margin: -8px 20px;
    color: rgb(79, 80, 83);

}

.container {
    display: flex;
    text-align: left;

}

.nav,
.title {
    color: #75727277;
    font-size: 14px;
    margin: 0px;
}

.title2 {
    color: #ffffff77;

}

.nav .element .row,
.row-def,
.row-hov,
.row-press,
.row-dis {
    text-align: left;
}

.col {
    width: fit-content;
    margin: -4px;
}

.row,
.row-def,
.row-hov,
.row-press,
.row-dis {
    margin: 10px;
    text-align: center;
}

.element {
    padding: 7px 0px;
}

div .row,
.row-def,
.row-hov,
.row-press,
.row-dis {
    padding: 10px 10px;


}

a {

    text-decoration: none;
}

div .row a {
    text-decoration: none;

}

.row a i {
    font-size: 16px;
    color: var(--white);
}

.btn {

    background-color: red;
    border-radius: 5px;
    padding: 9px 30px;


}

/* Round buttons  //////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Round button default with pseudo classes */
.btn-round-def {
    border-radius: 50%;
    padding: 9px 12px;
    background-color: var(--primary);

    color: var(--white);


}

.btn-round-def:hover {
    border-bottom: 3px solid #1A9781;
    padding: 9px 12px;
}

.btn-round-def:active {
    opacity: var(--press);

    border: none;
}

/* Round button default with pseudo classes ends*/


/* Round button different states ui */
.round {
    border-radius: 50%;
    padding: 9px 12px;
    background-color: var(--primary);

    color: var(--white);

}

.round-hover {
    border-radius: 50%;
    padding: 8px 12px;
    background-color: var(--primary);

    color: var(--white);

    border-bottom: 3px solid #1e6d58;

}

/* 
Other state of round btn are using utility classes 
*/

/* Round buttons  //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Primary buttons  //////////////////////////////////////////////////////////////////////////////////////////////////// */


.btn-primary-def {
    background-color: var(--primary);
    color: var(--white);



}

.btn-primary-def:hover {
    border-bottom: 3px solid #1e6d58;

}

.btn-primary-def:active {
    opacity: var(--press);
    border: none;
}

/* state of primary */
.primary {
    background-color: var(--primary);
    color: var(--white);

}

.primary-hover {
    background-color: var(--primary);
    color: var(--white);

    border-bottom: 3px solid #1e6d58;


}








/* //////////////////////////Secondary Buttons Col//////////////////////////////// */


.btn-secondary-def {
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid #403e3e54;


}

.btn-secondary-def:hover {
    border-bottom: 3px solid #93ADB5;
}

.btn-secondary-def:active {
    opacity: var(--press);
    border: none;

}

.secondary {
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid #403e3e54;


}

.secondary-hover {

    background-color: var(--secondary);

    color: var(--text);
    border: 1px solid #403e3e54;
    border-bottom: 3px solid #93ADB5;


}

/* //////////////////////////  Secondary Buttons Col  //////////////////////////////// */
/* //////////////////////////  Destructive Buttons Col  //////////////////////////////// */
.btn-destructive-def {

    background-color: var(--destructive);
    color: var(--white);



}



.btn-destructive-def:hover {
    border-bottom: 3px solid #BE684F;
}

.btn-destructive-def:active {
    opacity: var(--press);
    border: none;

}

.destructive {
    background-color: var(--destructive);
    color: var(--white);

}

.destructive-hover {

    background-color: var(--destructive);

    color: var(--white);

    border-bottom: 3px solid #BE684F;
    ;

}

/*//////////////////////////  Primary With Background Buttons Col  //////////////////////////////// */




.btn-neg-primary-def {

    background-color: var(--white);
    color: var(--primary);



}



.btn-neg-primary-def:hover {
    border-bottom: 3px solid #a1cec3;
}

.btn-neg-primary-def:active {
    opacity: var(--press);
    border: none;

}

.btn-neg-primary {
    background-color: var(--white);
    color: var(--primary);

}

.btn-neg-primary-hover {

    background-color: var(--white);

    color: var(--primary);

    border-bottom: 3px solid #a1cec3;
    ;

}

/*//////////////////////////  Primary With Background Buttons Col Ends //////////////////////////////// */




/* 
Buttons with oulline


*/

/* primary */
.btn-outline {

    border-radius: 5px;
    padding: 9px 30px;
    border: 1px solid;


}


/*//////////////////////////  Primary Border Buttons Col  //////////////////////////////// */



.btn-outline-primary-def {
    color: var(--primary);
}

.btn-outline-primary-def:hover {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-outline-primary-def:active {
    opacity: var(--press);
    background-color: var(--primary);
    color: var(--white);
}

.btn-outline-primary-hover {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-outline-primary-press {
    color: var(--white);
    background-color: var(--primary);
}

.btn-outline-primary {
    color: var(--primary);
}

/*//////////////////////////  Primary Border Buttons Col  //////////////////////////////// */





/*//////////////////////////  Secondary Border Buttons Col  //////////////////////////////// */
.btn-outline-secondary-def {
    border: 1px solid #C5D3D8;
    color: #9FB7BE;
}

.btn-outline-secondary-def:hover {
    border: 2px solid var(--text);
    color: var(--text);
}

.btn-outline-secondary-def:active {
    opacity: var(--press);
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid var(--text);
}

.btn-outline-secondary-hover {
    border: 2px solid var(--text);
    color: var(--text);
}

.btn-outline-secondary-press {
    opacity: var(--press);
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid var(--text);
}

.btn-outline-secondary {
    color: var(--text);
}

/*//////////////////////////  Secondary Border Buttons Col  //////////////////////////////// */

/*//////////////////////////  Destructive Border Buttons Col  //////////////////////////////// */
.btn-outline-destructive-def {
    color: var(--destructive);
}

.btn-outline-destructive-def:hover {
    border: 2px solid var(--destructive);
    color: var(--destructive);
}

.btn-outline-destructive-def:active {
    opacity: var(--press);
    background-color: var(--destructive);
    color: var(--white);
}

.btn-outline-destructive-hover {
    color: var(--destructive);
    border: 2px solid var(--destructive);
}

.btn-outline-destructive-press {
    color: var(--white);
    background-color: var(--destructive);
}

.btn-outline-destructive {
    color: var(--destructive);
}

/*//////////////////////////  Destructive Border Buttons Col  //////////////////////////////// */







/*//////////////////////////  Secondary neg Border Buttons Col  //////////////////////////////// */

.btn-neg-outline-secondary-def {}

.btn-neg-outline-secondary-def {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.btn-neg-outline-secondary-def:hover {
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.btn-neg-outline-secondary-def:active {
    opacity: var(--press);
    background-color: var(--secondary);
    color: var(--primary);
}

.btn-neg-outline-secondary-hover {
    color: var(--white);
    background-color: none;
    border: 2px solid var(--secondary);
}

.btn-neg-outline-secondary-press {
    color: var(--primary);
    background-color: var(--secondary);
}

.btn-neg-outline-secondary {
    color: var(--secondary);
}

/*//////////////////////////  Secondary neg Border Buttons Col  //////////////////////////////// */