* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}


header {
    text-align: center;
}

header h1 {
    font-size: 25px;
}

header h2 {
    font-size: 20px;
}
.table{
    margin: 15px 50px;
}

table  {
    border: 2px solid black;
    border-collapse:collapse ;
    width: 83%;
    height: 70%;
    text-align: center;
}
td{
    border: 1px solid black;
}
.hei{
   border: 2px solid black;
    line-height: 3px;
}
section{display: flex}
aside{
    margin-top: 40px;
    margin-left: 5px;
    text-align: left;
}
.headers td{
    border: 2px solid black;

}
.highlight{
    background-color: #73f0425e;
    
    width: 988px;
}

